@import 'tailwindcss';

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  90% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.animate-slide-down {
  animation: slide-down 7s ease-in-out forwards;
}

h1,
h2,
h3,
p {
  color: #161616;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.shimmer {
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 221, 3, 0.6),
    transparent
  );
  background-size: 200% 100%;
  animation: shimmer 3s linear infinite;
}

@font-face {
  font-family: 'Outfit';
  src: url('../assets/font/Outfit/Outfit-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: 'Outfit', sans-serif;
}

.bg-bde-gold {
  background-color: #ffdd03;
}
